.img-carousel {
  object-fit: cover; overflow: hidden;
}

.carousel {
  min-width: available;
  max-width: available;
  max-height: 300px;
  min-height: 300px;
  margin: 0 auto;
}

.carousel-size {
  width: 100%;
}

.img-height {
  height: 300px;
  min-height: 300px;
  max-height: 300px;
}
