/* Padding for spacing */
.inner {
  padding: 30px;
  background-image: url("../../public/assets/chei.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  font-weight: 600;
}

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
  color: white;
}