.create-plant-form {

  display: flex;
  gap: 16px;

  .form-item {
    width: 50%;
    text-align: start;
  }

  .form-item-check{
    margin-top: 16px;
  }

  .form-item-dragger {
    height: auto;
  }

  .ant-select, .ant-input, .ant-picker {
    max-height: 40px !important;
    height: 40px !important;
    min-height: 40px !important;
  }

  .ant-select-selector, .ant-input, .ant-input-affix-wrapper, .ant-picker {
    background-color: #EEEEEE !important;
  }


  .ant-checkbox-checked {
    background-color: #D6249F !important;
    border-color: #D6249F !important;
  }

  .ant-upload-list-item-action {
    background-color: transparent !important;
  }




}


