
.primary-image {
  width: 500px !important;
  height: 350px !important;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  left: -14em;
}

.secondary-images {
  cursor: pointer;
  width: 55px !important;
  height: 55px !important;
  padding: 7px;
  border: 1px solid #A6A6A6FF;
  border-radius: 3px;
}


h3 {
  font-size: 1em;
  letter-spacing: 1.2px;
  color: #a6a6a6;
}

img {
  filter: drop-shadow(1px 1px 3px #a6a6a6);
}

/* ----- Product Section ----- */
.product {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  margin: auto;
  padding: 2.5em 0;
  min-width: 600px;
  background-color: white;
  border-radius: 5px;
  max-width: 600px;
}

/* ----- Photo Section ----- */
.product__photo {
  position: relative;
}

.photo-container {
  position: absolute;
  left: -2.5em;
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);

  & .ant-ribbon-wrapper {
    position: absolute;
    top: 4em;
    right: 0;

    .ant-ribbon {

      .ant-ribbon-text {

        span {
          font-size: 14pt;
          font-weight: 600;
        }
      }
    }
  }
}

.photo-main {
  border-radius: 6px 6px 0 0;
  background: radial-gradient(#FFF, #D6249F) #D6249F;
  min-height: 380px;

  .controls {
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
    color: #fff;
  }

}


.photo-album {
  padding: 0.7em 1em;
  border-radius: 0 0 6px 6px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* ----- Informations Section ----- */
.product__info {
  padding: 0.8em 0;
}

.title {
  h1 {
    margin-bottom: 0.1em;
    color: #4c4c4c;
    font-size: 1.5em;
    font-weight: 900;
  }

  span {
    font-size: 0.7em;
    color: #a6a6a6;
  }
}

.price {
  display: flex;
  margin: 1.5em 0;
  color: #D6249F;

  .currency {
    font-size: 1.2em;
    align-self: flex-end;
    margin-bottom: 8px;
  }

  span.price-product-detail {
    padding-left: 0.15em;
    font-size: 3.2em;
    font-weight: bold;
    color: #D6249F;
    align-self: flex-end;
  }


  span.price-line-through-detail {
    padding-left: 0.15em;
    font-size: 0.6em;
    color: rgb(0, 0, 0, 0.6);
    align-self: flex-end;
    font-weight: 400;
  }
}

.conservation-detail {
  display: flex;
  gap: 16px;
}

.size-detail {
  margin-right: 8px;
  width: 30px;
  border: 1px solid #000;
  padding: 0 4px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.variant {
  overflow: auto;

  h3 {
    margin-bottom: 1.1em;
  }

  li {
    float: left;
    width: 35px;
    height: 35px;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;

    &:first-child,
    &:hover {
      border: 1px solid #a6a6a6;
    }
  }

  li:not(:first-child) {
    margin-left: 0.1em;
  }
}

.description {
  clear: left;
  margin: 2em 0;

  .description-detail {
    font-size: 14px;
    text-transform: capitalize;
  }

  h3 {
    margin-bottom: 1em;
  }

  ul {
    font-size: 1em;
    list-style: disc;
    margin-left: -2em;
  }

  li {
    text-indent: -0.6em;
    margin-bottom: 0.5em;
  }
}

.buy--btn {
  padding: 1.5em 3.1em;
  border: none;
  border-radius: 7px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: #D6249F;
  box-shadow: 2px 2px 25px -7px #4c4c4c;
  cursor: pointer;

  &:active {
    transform: scale(0.97);
  }

}

@media (max-width: 942px) {
  .product {
    display: grid;
    grid-template-columns: 0.5fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    padding: 2.5em;
    min-width: 300px;
    background-color: white;
    border-radius: 5px;
    max-width: 300px;
  }

  .product__photo {
    position: relative;
    width: 250px;
    margin-left: 3em;
  }

  .product__info {
    padding: 0.8em 0 0 -4em !important;
  }
}

.test {
  path:nth-child(1) {
    color: #27c79d;
  }

  path:nth-child(2) {
    color: #bc27c7;
  }
}

