
.rating-fill {
  color: #FFA500;
}

.rating-empty {
  color: #E5E5E5;
}

.card {
  min-height: 500px;
}

.img-size {
  min-height: 245px;
  max-height: 245px;
}

.achievement-label {
  position: absolute;
  top: -7px;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  background-color: #099067;
  padding: 0 0.3rem 0 0.3rem;
  font-family: "Roboto Light", 'fantasy';
}

.out-stock-label {
  position: absolute;
  top: -7px;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  background-color: #90093f;
  padding: 0 0.3rem 0 0.3rem;
  font-family: "Roboto Light", 'fantasy';
}
