.ant-collapse-item > div[aria-expanded="true"] {
  background-color: rgba(214,36,159,0.8) !important;
  color: #FFFFFF !important;
}

.ant-collapse-item > div[aria-expanded="false"] {

  transition: background-color 0.4s ease,
  color 0.4s ease;

  &:hover {
    background-color: rgba(214,36,159,0.8);
    color: #FFFFFF !important;
  }
}
