.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.side-menu .ant-menu-item-selected {
  background-color: rgba(0, 105, 64, 0.4);
}

.side-menu .ant-menu-item {
  margin-inline: -5px !important;
}

hr {
  border: 1px solid #DC67AB;
  background-color: transparent;
  color: transparent;
  margin: 0 40px 20px 40px;
}


