.trigger-container {
  padding:  0 20px 0 20px;
  display: flex;
  flex-direction: column;
}

.trigger-icon-container {
  display: flex;
  margin-bottom: 30px;
}

.trigger-icon {
  justify-content: flex-start;
}

.filter-container {

}
