.trigger-container {
  padding:  0 20px 0 20px;
  display: flex;
  flex-direction: column;
}

.trigger-icon-container {
  display: flex;
  margin-bottom: 30px;
}

.trigger-icon {
  justify-content: flex-start;
}


.filter-trigger {
  position: relative;
  top: 0;
  right: 12px;
  width: 70px;
  height: 60px;

  .filter-trigger-icon {
    color: #FFFFFF;
  }
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}


