.update-user-screen {

  p.address-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    margin: 0 0 16px;
  }

  .descriptions {

    p {
      margin: 0;
    }

  }

}

