@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  background-color: #eee !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-gray {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mt-10 {
  margin-top: 6rem !important;
}

.pt-10 {
  padding-top: 7rem !important;
}

.c-pointer {
  cursor: pointer;
}

.wh-24 {
  width: 24px;
  height: 24px;
}

.bg-blue {
  background-color: #86E3CE;
}

.bg-orange {
  background-color: #F17F30;
}

.bg-pink {
  background-color: #BB297C;
}

.bg-purple {
  background-color: #CCABD8;
}

.bg-red {
  background-color: #E25845;
}

.bg-grey {
  background-color: #eee !important;
}

.menu-item-active {
  color: #099067;
}
